@font-face {
    font-family: "AvenirNextCyr-Regular";
    src: local("AvenirNextCyr-Regular"),
    local("AvenirNextCyr-Regular"), 
    /* Если не получилось, загрузит woff2 */
    url("/fonts/avenir-next/AvenirNextCyr-") format("woff2"),
    /* Если браузер не поддерживает woff2, загрузит woff */
    url("/fonts/avenir-next/AvenirNextCyr-Regular.woff") format("woff");
    font-weight: normal; }

.left_sidebar {
    background-color: #F7F7F7;
    width: 469px;
    height: 1140px;
    margin-top: 37px;
    margin-left: 41px;
    margin-bottom: 37px;
}
img {
    width: 350px; 
    border-radius: 50%;
    box-shadow: inset 5px 0px 10px 0px #74747480; /* Тень */
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    margin-left: 49px;
}
.motto {
    width: 301px;
    height: 62px;
    margin-top: 27px;
    margin-left: 84px;
    font-family: Avenir Next Cyr;
    font-size: 25px;
    font-style: italic;
    font-weight: 450;
    line-height: 30.63px;
    text-align: center;
    color: #7B7B7B;
}
.container {
    padding-top: 70px;
    padding-left: 49px;
}
.inner-div-info {
    display: flex;
    justify-content: space-between;
    width: 349px;
    height: 30px;
    font-family: Avenir Next Cyr;
    font-size: 22px;
    font-weight: 750;
    line-height: 26.95px;
    text-align: left;
    color: #181818;
}
.inner-div-skills {
    display: flex;
    justify-content: space-between;
    width: 156px;
    height: 41px;
    background-color: #7B7B7B;
    color: #FFFFFF;
    font-family: Avenir Next Cyr;
    font-size: 18px;
    font-weight: 750;
    line-height: 22.05px;
    text-transform: uppercase;
}
