@font-face {
    font-family: 'Biryani-Regular';
    src: local("Biryani-Regular"),
    local("Biryani-Regular"), 
    url("./fonts/Biryani-Regular.ttf");
    font-weight: normal; 
}

@font-face {
    font-family: 'Inter-Regular';
    src: local("Inter-Regular"),
    local("Inter-Regular"), 
    url("./fonts/Inter-Regular.ttf");
    font-weight: normal; 
}

@font-face {
    font-family: 'Inter-Bold';
    src: local("Inter-Bold"),
    local("Inter-Bold"), 
    url("./fonts/Inter-Bold.ttf");
    font-weight: bold; 
}

* {
    box-sizing: border-box
}

body{
    padding: 0;
    margin: 0;
}

.menu{
    width: 100%;
    height: 803px;
    background-image: url('./images/image.png');
    background-size: cover;
}

.menu-header {
    display: flex;
    justify-content: left;
    margin-bottom: 140px;
}

.header-link-silika{
    margin-top: 23px;
    margin-left: 133px;
    width: 107px;
    height: 71px;
    font-family: 'Biryani-Regular';
    font-size: 40px;
    font-weight: 700;
    line-height: 70.5px;
    text-align: left;
    color: #160647;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    letter-spacing: 1px;
}

.header-red-button{
    width: 83px;
    height: 28px;
    margin-top: 40px;
    margin-left: 6px;
    border-radius: 5px 5px 5px 5px;
    opacity: 0px;
    background: #F22E52;
    font-family: 'Inter-Regular';
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    align-content: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;
}

.header-nav-menu{
    display: flex;
    flex: no-wrap;
    justify-content:space-around;
    width: 444px;
    margin-left: 156px;
    margin-top: 49px;
}

.nav-menu-point{
    font-family: 'Inter-Regular';
    font-size: 16px;
    font-weight: 500;
    line-height: 19.25px;
    text-align: left;
    color: #160647;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
    padding-left: 25px;
}

.vector-menu{
    margin-top: 4px;
    margin-left: 5px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border: solid #160647;
    border-width: 0 1.5px 1.5px 0;
    transform: rotate( 45deg);
}

.login-header{
    font-family: 'Inter-Regular';
    font-size: 16px;
    font-weight: 600;
    line-height: 19.25px;
    text-align: left;
    width: 45px;
    height: 19px;
    margin-top: 49px;
    margin-left: 174px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
    letter-spacing: 0.8px;
}

.header-blue-button{
    width: 142px;
    height: 47px;
    margin-top: 35px;
    margin-left: 16px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    border-radius: 5px 5px 5px 5px;
    opacity: 0px;
    background: #47BEBA;
    font-family: 'Inter-Regular';
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
}

.header_part{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 77px;
    font-family: 'Inter-Bold';
    font-size: 64px;
    font-weight: 700;
    line-height: 77.5px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 13px;
    text-decoration-thickness: 4px;
    padding-top: 4px;
    position: relative;
    right: 6px;
    color: #160647;
}

.header_text{
    display: flex;
    align-items: center; 
    width: 100%;
    height: 50px;
    padding-left: 372px;
    padding-right: 371px;
    margin-top: 25px;
    margin-bottom: 61px;
    justify-content: center;
    font-family: 'Inter-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
    color: #6C6C6C;
}

.header-blue-button-bottom{
    width: 162px;
    height: 57px;
    margin-left: 542px;
    padding: 20px 40px 20px 40px;
    border-radius: 5px 5px 5px 5px;
    opacity: 0px;
    background: #47BEBA;
    font-family: 'Inter-Regular';
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
}

.header-red-button-bottom{
    width: 172px;
    height: 57px;
    margin-left: 15px;
    padding: 20px 40px 20px 40px;
    border-radius: 5px 5px 5px 5px;
    opacity: 5px;
    background: #F22E52;
    font-family: 'Inter-Regular';
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
}

.partner_images{
    display: flex;
    justify-content: space-between;
    margin-top: 123.89px;
    height: 36.11px;
    width: 100%;
    position: relative;
    right: 70px;
}

.inner_partner_images{
    padding-right: 99px;   
}

.more_about_us{
    margin-top: 155px;
    height: 551px;
}

.header_more_about_us{
    margin-left: 540px;
    font-family: 'Inter-Bold';
    font-size: 48px;
    font-weight: 700;
    line-height: 70.25px;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-underline-offset: 10px;
    color: #160647;
}

.inner_block_more_about_us{
    margin-top: 100px;
    margin-left: 135px;
}

.inner_block_more_about_us_left{
    padding-top: 61px;
}

.inner_block_about_team{
    font-family: 'Inter-Regular';
    font-size: 40px;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-underline-offset: 8px;
    color: #160647;
}

.inner_block_text{
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
    margin-bottom: 40px;
    width: 383px;
    font-family: 'Inter-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.25px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #818181;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
}

.inner_block-blue-button{
    width: 142px;
    height: 47px;
    padding: 15px 30px 15px 30px;
    border-radius: 5px 5px 5px 5px;
    opacity: 0px;
    gap: 10px;
    background: #47BEBA;
    font-family: 'Inter-Regular';
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
}

.inner_block_more_about_us_right{
    position: relative;
    width: 712px;
    background-image: url('./images/image_play.png');
    background-size: cover;
    height: 381px;
    gap: 0px;
    border-radius: 6px 6px 6px 6px;
    border-color: #D9D9D9;
    opacity: 0px;
    margin-left: 500px;
    margin-right: 94px;
    padding: 130px;
    top: -305px;
}

.inner_block_more_about_us_right_text{
    margin-left: 100px;
    font-family: 'Biryani-Regular';
    font-size: 96px;
    font-weight: 700;
    line-height: 169.44px;
    text-align: left;
    color: #160647;
    letter-spacing: 0.03em;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
}

.our_features{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 135px;
    margin-right: 139px;
    margin-bottom: 28px;
}

.header_our_features{
    padding-left: 563px;
    padding-top: 150px;
    padding-bottom: 100px;
    font-family: 'Inter-Bold';
    font-size: 48px;
    font-weight: 700;
    line-height: 70.32px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #160647;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-style: solid;
    text-decoration-thickness: 4px;
}


.inner_our_features_content_blog_content{
    display: flex;
    padding-bottom: 30px;
    width: 370px;
    height: 216px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid  black;
    border-color: #F1F1F1;
}

.inner_our_features_content_images{
    width: 48px;
    height: 48px;
    margin-top: 48px;
    margin-left: 32px;
}

.inner_our_features_content_blog_content_info{
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    margin-left: 36px;
}

.inner_our_features_content_blog_content_header{
    font-family: 'Inter-Bold';
    font-size: 20px;
    font-weight: 600;
    line-height: 21.5px;
    text-align: left;
    color: #160647;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
}

.inner_our_features_content_blog_content_text{
    margin-top: 25px;
    font-family: 'Inter-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color: #7A8994;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    padding-right: 30px;
}

.inner_our_features_content_blog_content_link{
    margin-top: 21px;
    font-family: 'Inter-Regular';
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: left;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    color: #47BEBA;
}

.inner_our_features_content_arrow{
    width: 10.35px;
    height: 7.76px; 
    position: relative;
    top: -12px;
    left: 120px;
}

.inner_our_features_article{
    margin-top: -1px;
    display: flex;
    padding-bottom: 30px;
    width: 370px;
    height: 216px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid  black;
    border-color: #F1F1F1;
}

.inner_our_features_content_writing{
    margin-top: -1px;
    margin-right: -1px;
    display: flex;
    padding-bottom: 30px;
    width: 370px;
    height: 216px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid  black;
    border-color: #F1F1F1;
}

.inner_our_features_content_images_design{
    width: 63px;
    height: 70px;
    margin-top: 48px;
    margin-left: 25px;
    margin-right: -6px;
}

.inner_our_features_content_images_coding{
    width: 48px;
    height: 48px;
    margin-top: 48px;
    margin-left: 37px;
    margin-right: -3px;
}

.inner_our_features_content_arrow_coding{
    width: 10.35px;
    height: 7.76px; 
    position: relative;
    top: -5px;
    left: 120px;
}

.say_goodbye_block{
    margin: 0 auto;
    margin-top: 135px;
    background-image: url("./images/img_goodbye.png");
    background-size: cover;
    width: 100%;
    height: 975px;
}


.sphere_up{
    width: 100%;
    height: 500px;
    background: #160647;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
}
.sphere_down{
    width: 100%;
    height: 500px;
    background: #160647;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}


.say_goodbye_block_text{
    position: relative;
    top: -868px;
    width: 859px;
    margin-left: 291px;
    font-family: 'Inter-Bold';
    font-size: 64px;
    font-weight: 700;
    line-height: 93.5px;
    text-align: center;

    .say_goodbye_block_text_white{
        color: #FFFFFF;
        text-decoration: underline;
        text-underline-offset: 13px;
        text-decoration-style: solid;
        text-decoration-thickness: 5px;
    }

    .say_goodbye_block_text_red{
        color: #F22E52;
        text-decoration: underline;
        text-underline-offset: 13px;
        text-decoration-style: solid;
        text-decoration-thickness: 5px;
    }
}
.say_goodbye_block_account{
    position: relative;
    top: -487px;
}
.account{
    padding-left: 584px;
    width: 100%;
    font-family: 'Inter-Regular';
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #FFFFFF;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
}

.inner_account{
    display: flex;
    flex-direction: column;
}

.inner_account_button_white_img{
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-right: 11px;
    margin-left: 15px;
}

.inner_account_button_white_text{
    margin-top: 5px;
    font-family: 'Inter-Regular';
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #160647;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
}

.inner_account_button_white{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-left: 509px;
    margin-top: 30px;
    width: 197px;
    height: 45px;
    border-radius: 50px 50px 50px 50px;
    background: #FFFFFF;
}

.inner_account_button_blue{
    align-items: center;
    justify-content: left;
    margin-left: 747px;
    margin-top: -63px;
    padding-left: 46px;
    padding-top: 15px;
    width: 193px;
    height: 45px;
    border-radius: 50px 50px 50px 50px;
    background: #47BEBA;
    font-family: 'Inter-Regular';
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
}

.inner_account_text{
    color: #7A8994;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    padding-left: 719px;
    position: relative;
    top: -31px;
}

.inner_account_no_card_text{
    color: #7A8994;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    padding-left: 643px;
    font-family: 'Inter-Regular';
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-align: left;
    position: relative;
    top: 26px;
}

.our_client_says{
    width: 498px;
    height: 126px;
    font-family: 'Inter-Bold';
    font-size: 48px;
    font-weight: 800;
    line-height: 63px;
    text-align: center;
    color: #160647;
    margin-top: 161px;
    margin-left: 470px;
    letter-spacing: 0.005em;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}

.assistant_card{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
}

.assistant_card_inner{
    display: flex;
    flex-direction: row;
    border: 1px solid #F1F1F1;
    border-radius: 5px 5px 5px 5px;
    width: 400px;
    height: 233px;
    padding-top: 52px;
    padding-left: 31px;
    padding-right: 30px;

    .assistant_card_img{
        width: 41px;
        height: 43px;
        margin-right: 15px;
        margin-top: 3px;
    }

    .assistant_card_text_header{
        font-family: 'Inter-Bold';
        font-size: 20px;
        font-weight: 700;
        line-height: 24.2px;
        text-align: left;
        color: #160647;
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-style: solid;
        text-decoration-thickness: 1px;
    }
    
    .assistant_card_text_subheader{
        font-family: 'Inter-Regular';
        font-size: 15px;
        font-weight: 500;
        line-height: 18.15px;
        text-align: left;
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-style: solid;
        text-decoration-thickness: 1px;
        color: #7A8994;
        margin-top: 5px;

    }

    .assistant_card_text_footer{
        width: 339px;
        font-family: 'Inter-Regular';
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #7A8994;
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-style: solid;
        text-decoration-thickness: 1px;
        margin-left: -60px;
        margin-top: 24px;
    }
}

.assistant_card_left{
    width: 114px;
    margin-left: 341px;
    margin-right: 66px;
    margin-top: 9px;
}

.assistant_card_right{
    width: 114px;
    margin-left: 67px;
    margin-top: 2px;
}
