@font-face {
    font-family: 'Biryani-Regular';
    src: local("Biryani-Regular"),
    local("Biryani-Regular"), 
    url("./fonts/Biryani-Regular.ttf") format("ttf");
    font-weight: normal; 
}

@font-face {
    font-family: 'Inter-Regular';
    src: local("Inter-Regular"),
    local("Inter-Regular"), 
    url("./fonts/Inter-Regular.ttf") format("ttf");
    font-weight: normal; 
}

* {
    box-sizing: border-box
}

body{
    padding: 0;
    margin: 0;
}

.menu{
    width: 100%;
    height: 803px;
    background-image: url('./images/image.png');
    background-size: cover;
}

.menu-header {
    display: flex;
    justify-content: left;
    margin-bottom: 140px;
}

.header-link-silika{
    margin-top: 23px;
    margin-left: 133px;
    width: 107px;
    height: 71px;
    font-family: 'Biryani-Regular';
    font-size: 40px;
    font-weight: 700;
    line-height: 70.5px;
    text-align: left;
    color: #160647;
    text-decoration: underline;
}

.header-red-button{
    width: 83px;
    height: 28px;
    margin-top: 40px;
    margin-left: 6px;
    border-radius: 5px 5px 5px 5px;
    opacity: 0px;
    background: #F22E52;
    font-family: 'Inter-Regular';
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    align-content: center;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.header-nav-menu{
    display: flex;
    justify-content:space-around;
    width: 421px;
    margin-left: 156px;
    margin-top: 49px;
}

.nav-menu-point{
    font-family: 'Inter-Regular';
    font-size: 16px;
    font-weight: 500;
    line-height: 19.25px;
    text-align: left;
    color: #160647;
    text-decoration: underline;
    text-underline-offset: 3px;
    padding-left: 24px;
}

.vector-menu{
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border: solid #160647;
    border-width: 0 1.5px 1.5px 0;
    transform: rotate( 45deg);
}

.login-header{
    width: 43px;
    height: 19px;
    margin-top: 49px;
    margin-left: 174px;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.header-blue-button{
    width: 142px;
    height: 47px;
    margin-top: 35px;
    margin-left: 16px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    border-radius: 5px 5px 5px 5px;
    opacity: 0px;
    background: #47BEBA;
    font-family: 'Inter-Regular';
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.header_part{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 77px;
    font-family: 'Inter-Regular';
    font-size: 64px;
    font-weight: 700;
    line-height: 77.5px;
    letter-spacing: 0.02em;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 15px;
    margin-bottom: 7px;
}

.header_text{
    display: flex;
    align-items: center; 
    width: 100%;
    height: 50px;
    padding-left: 372px;
    padding-right: 371px;
    margin-top: 18px;
    margin-bottom: 61px;
    justify-content: center;
    font-family: 'Inter-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.header-blue-button-bottom{
    min-width: 162px;
    height: 57px;
    margin-left: 542px;
    padding: 20px 40px 20px 40px;
    border-radius: 5px 5px 5px 5px;
    opacity: 0px;
    background: #47BEBA;
    font-family: 'Inter-Regular';
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.header-red-button-bottom{
    width: 172px;
    height: 57px;
    margin-left: 20px;
    padding: 20px 40px 20px 40px;
    border-radius: 5px 5px 5px 5px;
    opacity: 0px;
    background: #F22E52;
    font-family: 'Inter-Regular';
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    text-decoration: underline;
    text-underline-offset: 3px;
}